<a href="https://colab.research.google.com/github/luanrodriguesc/fatec-ml-flask-noite/blob/main/Exerc%C3%ADcio_em_Sala_de_Aula_ipynb_e_Luan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício em Sala de Aula (3,0 pontos)

Acesse o link abaixo, escolha um dataset e realize o processo de análise exploratório, limpeza dos dados, extração de características, treinamento e avaliação de um modelo de Machine Learning.

https://www.kaggle.com/datasets?fileType=csv&tags=14101-Tabular+Data%2C14201-Binary+Classification

Atenção: O exercício deverá ser feito em dupla ou individualmente e não será permitido repetir o dataset entre duas duplas ou mais. Portanto, ao escolher o seu, preencha a planilha disponível no link abaixo.

https://docs.google.com/spreadsheets/d/1XiIaEOQTMTNrdVyTuJ9JRs8_NsmJTseFMiBHDocGIY8/edit?usp=sharing

## Leitura da base de dados

In [55]:
#https://www.kaggle.com/datasets/sagnik1511/car-insurance-data DATASET PARA DOWNLOAD

In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

dataframe = pd.read_csv('Car_Insurance_Claim.csv')

In [57]:
dataframe.head(15)

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0
5,877557,40-64,female,majority,20-29y,high school,upper class,0.619127,1.0,after 2015,0.0,1.0,10238,13000.0,sedan,3,0,3,0.0
6,930134,65+,male,majority,30y+,high school,upper class,0.492944,0.0,after 2015,1.0,1.0,10238,13000.0,sedan,7,0,3,0.0
7,461006,26-39,female,majority,0-9y,university,working class,0.468689,0.0,after 2015,0.0,1.0,10238,14000.0,sedan,0,0,0,1.0
8,68366,40-64,female,majority,20-29y,university,working class,0.521815,0.0,before 2015,1.0,0.0,10238,13000.0,sedan,0,0,0,0.0
9,445911,40-64,female,majority,0-9y,high school,upper class,0.561531,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,1.0
10,275820,65+,male,majority,30y+,high school,upper class,0.620361,1.0,after 2015,1.0,1.0,10238,10000.0,sedan,6,2,7,0.0
11,521399,65+,female,majority,30y+,high school,upper class,0.729831,1.0,after 2015,1.0,0.0,32765,12000.0,sedan,4,0,0,0.0
12,429728,40-64,male,majority,20-29y,high school,upper class,0.637045,1.0,before 2015,1.0,1.0,10238,8000.0,sedan,4,1,2,0.0
13,569640,16-25,female,majority,0-9y,university,upper class,0.591260,1.0,before 2015,0.0,1.0,10238,NaN,sedan,0,0,0,0.0
14,980181,26-39,male,majority,10-19y,high school,middle class,0.461568,1.0,before 2015,1.0,1.0,10238,12000.0,sedan,0,2,1,0.0

## Análise Exploratória

In [58]:
dataframe.shape

(10000, 19)

In [59]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10000 non-null  int64
 1   AGE                  10000 non-null  object
 2   GENDER               10000 non-null  object
 3   RACE                 10000 non-null  object
 4   DRIVING_EXPERIENCE   10000 non-null  object
 5   EDUCATION            10000 non-null  object
 6   INCOME               10000 non-null  object
 7   CREDIT_SCORE         9018 non-null   float64
 8   VEHICLE_OWNERSHIP    10000 non-null  float64
 9   VEHICLE_YEAR         10000 non-null  object
 10  MARRIED              10000 non-null  float64
 11  CHILDREN             10000 non-null  float64
 12  POSTAL_CODE          10000 non-null  int64
 13  ANNUAL_MILEAGE       9043 non-null   float64
 14  VEHICLE_TYPE         10000 non-null  object
 15  SPEEDING_VIOLATIONS  10000 non-null  int64
 16  DUIS                 10000 non-null  int64
 17  PAST_ACCIDENTS       10000 non-null  int64
 18  OUTCOME              10000 non-null  float64
dtypes: float64(6), int64(5), object(8)
memory usage: 1.4+ MB

In [60]:
dataframe.isnull().sum()

ID                       0
AGE                      0
GENDER                   0
RACE                     0
DRIVING_EXPERIENCE       0
EDUCATION                0
INCOME                   0
CREDIT_SCORE           982
VEHICLE_OWNERSHIP        0
VEHICLE_YEAR             0
MARRIED                  0
CHILDREN                 0
POSTAL_CODE              0
ANNUAL_MILEAGE         957
VEHICLE_TYPE             0
SPEEDING_VIOLATIONS      0
DUIS                     0
PAST_ACCIDENTS           0
OUTCOME                  0
dtype: int64

## Limpeza dos dados

In [61]:
dataframe['INCOME'].value_counts()

upper class      4336
middle class     2138
poverty          1814
working class    1712
Name: INCOME, dtype: int64

In [62]:
upper_class_median = dataframe[dataframe['INCOME'] == 'upper class']['CREDIT_SCORE'].median()
middle_class_median = dataframe[dataframe['INCOME'] == 'middle class']['CREDIT_SCORE'].median()
poverty_class_median = dataframe[dataframe['INCOME'] == 'poverty']['CREDIT_SCORE'].median()
working_class_median = dataframe[dataframe['INCOME'] == 'working class']['CREDIT_SCORE'].median()

In [63]:
dataframe[(dataframe['INCOME'] == 'working class') & dataframe['CREDIT_SCORE'].isnull()].index

Int64Index([  72,   73,  136,  145,  241,  265,  380,  402,  410,  497,
            ...
            9676, 9722, 9762, 9785, 9832, 9870, 9881, 9901, 9981, 9985],
           dtype='int64', length=190)

In [64]:
dataframe.loc[(dataframe[(dataframe['INCOME'] == 'working class') & dataframe['CREDIT_SCORE'].isnull()].index),'CREDIT_SCORE'] = dataframe[dataframe['INCOME'] == 'working class']['CREDIT_SCORE'].fillna(working_class_median)
dataframe.loc[(dataframe[(dataframe['INCOME'] == 'poverty') & dataframe['CREDIT_SCORE'].isnull()].index),'CREDIT_SCORE'] = dataframe[dataframe['INCOME'] == 'poverty']['CREDIT_SCORE'].fillna(poverty_class_median)
dataframe.loc[(dataframe[(dataframe['INCOME'] == 'middle class') & dataframe['CREDIT_SCORE'].isnull()].index),'CREDIT_SCORE'] = dataframe[dataframe['INCOME'] == 'middle class']['CREDIT_SCORE'].fillna(middle_class_median)
dataframe.loc[(dataframe[(dataframe['INCOME'] == 'upper class') & dataframe['CREDIT_SCORE'].isnull()].index),'CREDIT_SCORE'] = dataframe[dataframe['INCOME'] == 'upper class']['CREDIT_SCORE'].fillna(upper_class_median)

In [65]:
dataframe['ANNUAL_MILEAGE'] = dataframe['ANNUAL_MILEAGE'].fillna(dataframe['ANNUAL_MILEAGE'].median())

In [66]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10000 non-null  int64
 1   AGE                  10000 non-null  object
 2   GENDER               10000 non-null  object
 3   RACE                 10000 non-null  object
 4   DRIVING_EXPERIENCE   10000 non-null  object
 5   EDUCATION            10000 non-null  object
 6   INCOME               10000 non-null  object
 7   CREDIT_SCORE         10000 non-null  float64
 8   VEHICLE_OWNERSHIP    10000 non-null  float64
 9   VEHICLE_YEAR         10000 non-null  object
 10  MARRIED              10000 non-null  float64
 11  CHILDREN             10000 non-null  float64
 12  POSTAL_CODE          10000 non-null  int64
 13  ANNUAL_MILEAGE       10000 non-null  float64
 14  VEHICLE_TYPE         10000 non-null  object
 15  SPEEDING_VIOLATIONS  10000 non-null  int64
 16  DUIS                 10000 non-null  int64
 17  PAST_ACCIDENTS       10000 non-null  int64
 18  OUTCOME              10000 non-null  float64
dtypes: float64(6), int64(5), object(8)
memory usage: 1.4+ MB

## Extração de características

In [67]:
#eliminar a coluna que nao tem relevancia CEP
dataframe.drop(columns=['POSTAL_CODE'], inplace=True)

#eliminar a coluna que nao tem relevancia TIPO DE VEICULO
dataframe.drop(columns=['VEHICLE_TYPE'], inplace=True)

#eliminar a coluna que nao tem relevancia VENCIMENTO
dataframe.drop(columns=['DUIS'], inplace=True)

#eliminar a coluna que nao tem relevancia 
dataframe.drop(columns=['RACE'], inplace=True)

#eliminar a coluna que nao tem relevancia 
dataframe.drop(columns=['VEHICLE_OWNERSHIP'], inplace=True)

#eliminar a coluna que nao tem relevancia 
dataframe.drop(columns=['ANNUAL_MILEAGE'], inplace=True)

#eliminar a coluna que nao tem relevancia ID
dataframe.drop(columns=['ID'], inplace=True)

In [68]:
#eliminar a coluna que nao tem relevancia Estado civil
dataframe.drop(columns=['MARRIED'], inplace=True)

#eliminar a coluna que nao tem relevancia Filhos
dataframe.drop(columns=['CHILDREN'], inplace=True)

In [69]:
#eliminar a coluna que nao tem relevancia EDUCAÇÃO
dataframe.drop(columns=['EDUCATION'], inplace=True)

In [70]:
#eliminar a coluna que nao tem relevancia SCORE CREDITO
dataframe.drop(columns=['CREDIT_SCORE'], inplace=True)

In [71]:
X = dataframe

In [72]:
X.head(2)

,AGE,GENDER,DRIVING_EXPERIENCE,INCOME,VEHICLE_YEAR,SPEEDING_VIOLATIONS,PAST_ACCIDENTS,OUTCOME
0,65+,female,0-9y,upper class,after 2015,0,0,0.0
1,16-25,male,0-9y,poverty,before 2015,0,0,1.0

In [73]:
#transforma GENDER em numero
generos = []
for x in X['GENDER']:
  if x == 'male':
    generos.append(1)
  else:
    generos.append(0)

In [74]:
X['GENDER'] = [1 if x == 'male' else 0 for x in X['GENDER']]

In [75]:
X.head(2)

,AGE,GENDER,DRIVING_EXPERIENCE,INCOME,VEHICLE_YEAR,SPEEDING_VIOLATIONS,PAST_ACCIDENTS,OUTCOME
0,65+,0,0-9y,upper class,after 2015,0,0,0.0
1,16-25,1,0-9y,poverty,before 2015,0,0,1.0

In [76]:
#transforma idade em numero
idade = []
for x in X['AGE']:
  if x == '16-25':
    idade.append(1)
  elif x == '40-64':
    idade.append(2)
  else :
    idade.append(0)

In [77]:
#transforma experiencia em numero
experiencia = []
for x in X['DRIVING_EXPERIENCE']:
  if x == '0-9y':
    experiencia.append(1)
  elif x == '10-9y':
    experiencia.append(2)
  else :
    experiencia.append(0)

In [78]:
print(idade)

[0, 1, 1, 1, 0, 2, 0, 0, 2, 2, 0, 0, 2, 1, 0, 0, 0, 1, 0, 1, 1, 1, 2, 1, 0, 0, 2, 0, 0, 0, 2, 0, 1, 1, 0, 1, 0, 2, 0, 2, 0, 2, 2, 1, 0, 2, 0, 2, 0, 0, 2, 0, 0, 1, 1, 0, 1, 2, 2, 0, 2, 0, 2, 1, 2, 2, 2, 2, 0, 0, 0, 0, 2, 0, 1, 0, 2, 2, 2, 1, 2, 2, 1, 0, 0, 0, 1, 2, 0, 1, 0, 2, 0, 2, 2, 2, 0, 0, 2, 0, 2, 1, 1, 0, 1, 1, 0, 2, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 2, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 2, 0, 1, 1, 2, 0, 2, 0, 0, 2, 0, 2, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 2, 2, 0, 0, 1, 0, 0, 0, 0, 2, 2, 0, 2, 1, 2, 0, 0, 0, 2, 0, 1, 0, 0, 2, 0, 0, 2, 1, 0, 1, 1, 2, 2, 2, 0, 0, 0, 0, 2, 1, 2, 2, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 2, 0, 0, 2, 1, 2, 0, 0, 0, 2, 2, 1, 2, 1, 1, 2, 0, 2, 2, 1, 0, 2, 0, 2, 0, 0, 2, 1, 2, 1, 1, 0, 1, 0, 1, 0, 2, 2, 0, 0, 1, 1, 0, 1, 1, 2, 0, 0, 1, 2, 2, 2, 1, 0, 1, 0, 0, 1, 1, 2, 2, 0, 1, 2, 0, 1, 0, 0, 0, 1, 0, 0, 0, 2, 2, 0, 2, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 2, 1, 1, 1, 0, 0, 2, 2, 2, 2, 0, 2, 2, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 2, 0, 2, 0, 2, 2, 2, 0, 0, 2, 2, 1, 1, 0, 0, 2, 0, 0, 0, 0, 2, 0, 1, 2, 2, 2, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 1, 0, 2, 0, 0, 1, 2, 0, 1, 1, 2, 2, 2, 0, 0, 2, 2, 0, 0, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 1, 2, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 0, 1, 0, 0, 0, 0, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 2, 0, 2, 2, 0, 2, 0, 1, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, 1, 0, 2, 2, 1, 0, 1, 1, 0, 0, 2, 1, 1, 0, 0, 1, 0, 0, 1, 2, 0, 0, 0, 1, 0, 1, 0, 0, 2, 0, 2, 2, 1, 2, 1, 2, 0, 0, 0, 2, 2, 0, 0, 1, 2, 0, 0, 0, 0, 2, 1, 0, 2, 1, 0, 2, 0, 2, 1, 2, 0, 0, 1, 2, 1, 2, 2, 2, 0, 2, 2, 0, 1, 2, 1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 2, 1, 1, 2, 2, 2, 0, 0, 2, 0, 1, 1, 0, 2, 0, 1, 1, 2, 2, 0, 0, 0, 1, 0, 1, 1, 1, 2, 1, 2, 2, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 2, 0, 1, 1, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 0, 1, 2, 2, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 2, 2, 0, 2, 0, 0, 2, 1, 0, 1, 0, 1, 0, 2, 0, 0, 0, 0, 0, 2, 0, 1, 1, 0, 0, 0, 1, 2, 0, 2, 2, 2, 0, 0, 0, 2, 0, 2, 0, 1, 1, 0, 0, 0, 0, 2, 0, 2, 0, 0, 2, 0, 2, 2, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 1, 1, 0, 2, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 0, 0, 2, 1, 2, 1, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 2, 0, 1, 0, 1, 0, 0, 2, 0, 0, 0, 0, 1, 2, 0, 0, 2, 0, 0, 1, 2, 1, 0, 2, 2, 2, 2, 0, 2, 1, 0, 1, 1, 0, 1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 0, 0, 1, 0, 0, 0, 0, 2, 0, 2, 0, 1, 1, 0, 0, 0, 1, 2, 0, 0, 2, 0, 0, 0, 0, 1, 2, 2, 2, 2, 2, 0, 1, 2, 2, 1, 0, 0, 0, 0, 2, 2, 0, 0, 2, 2, 0, 1, 1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 2, 0, 1, 2, 0, 0, 2, 1, 1, 0, 0, 2, 1, 1, 0, 0, 2, 2, 2, 1, 2, 0, 0, 2, 1, 0, 2, 0, 0, 0, 1, 0, 0, 1, 0, 2, 2, 2, 1, 0, 1, 0, 0, 2, 0, 1, 2, 0, 2, 2, 2, 1, 2, 0, 0, 1, 1, 0, 2, 0, 0, 0, 1, 2, 1, 1, 2, 1, 0, 2, 0, 1, 0, 0, 0, 0, 2, 2, 1, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 2, 1, 1, 0, 2, 1, 2, 2, 2, 2, 0, 2, 0, 1, 0, 2, 0, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 1, 0, 0, 0, 2, 1, 0, 0, 2, 2, 0, 0, 0, 1, 1, 0, 0, 2, 0, 0, 1, 0, 1, 0, 2, 0, 2, 2, 1, 1, 1, 0, 2, 0, 2, 2, 2, 0, 1, 2, 2, 0, 0, 0, 1, 1, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 2, 2, 0, 1, 2, 0, 0, 0, 0, 2, 1, 0, 1, 1, 1, 0, 0, 2, 2, 2, 0, 0, 0, 0, 2, 0, 0, 1, 0, 2, 1, 2, 2, 1, 0, 0, 1, 2, 0, 0, 1, 2, 1, 0, 0, 2, 0, 2, 2, 2, 2, 0, 0, 2, 2, 1, 0, 1, 0, 0, 1, 2, 0, 0, 2, 0, 0, 1, 0, 2, 2, 0, 0, 1, 0, 0, 1, 0, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 2, 0, 0, 2, 0, 1, 2, 0, 0, 0, 1, 0, 1, 2, 0, 2, 1, 2, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 2, 2, 2, 0, 2, 0, 2, 1, 1, 0, 1, 0, 1, 2, 1, 0, 1, 2, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 2, 1, 0, 2, 0, 2, 0, 0, 2, 0, 0, 0, 1, 2, 0, 0, 1, 2, 0, 2, 0, 0, 2, 2, 0, 0, 2, 0, 1, 2, 0, 0, 2, 1, 2, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 1, 1, 2, 2, 0, 2, 0, 2, 2, 0, 0, 0, 2, 1, 2, 0, 0, 0, 1, 0, 0, 0, 2, 2, 0, 2, 0, 1, 1, 2, 0, 1, 2, 0, 2, 2, 2, 0, 1, 0, 2, 0, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 1, 1, 0, 2, 1, 2, 0, 1, 0, 2, 2, 2, 0, 0, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 1, 2, 0, 2, 1, 0, 1, 0, 0, 2, 2, 2, 0, 0, 0, 0, 1, 2, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 1, 0, 0, 0, 0, 1, 2, 1, 0, 0, 2, 2, 2, 2, 1, 0, 1, 0, 2, 0, 2, 0, 0, 0, 0, 2, 2, 2, 1, 0, 0, 0, 2, 0, 0, 2, 0, 1, 1, 2, 0, 2, 2, 0, 1, 1, 2, 0, 0, 0, 0, 2, 2, 0, 2, 2, 1, 0, 0, 0, 2, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 0, 0, 1, 2, 2, 1, 0, 2, 1, 1, 0, 0, 0, 0, 2, 1, 2, 0, 0, 0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 1, 2, 2, 0, 0, 1, 0, 0, 2, 1, 1, 2, 1, 0, 0, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 0, 0, 2, 2, 1, 2, 2, 2, 0, 2, 0, 1, 0, 0, 2, 0, 2, 0, 2, 1, 2, 1, 0, 0, 2, 1, 0, 2, 2, 0, 2, 1, 1, 1, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 2, 2, 2, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 2, 0, 0, 1, 2, 0, 1, 0, 2, 2, 1, 1, 0, 0, 2, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 2, 0, 2, 0, 2, 1, 2, 1, 2, 0, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 2, 0, 0, 2, 2, 2, 0, 1, 1, 0, 0, 2, 2, 1, 2, 0, 0, 1, 0, 1, 0, 2, 1, 1, 0, 0, 0, 0, 0, 0, 1, 2, 1, 1, 0, 1, 2, 2, 2, 0, 2, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 2, 2, 0, 2, 2, 2, 0, 2, 1, 2, 1, 1, 0, 2, 0, 2, 2, 0, 0, 1, 0, 1, 0, 1, 1, 0, 2, 2, 1, 2, 1, 1, 0, 0, 1, 1, 0, 0, 2, 0, 2, 1, 0, 2, 0, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 1, 2, 0, 1, 2, 2, 1, 2, 1, 1, 0, 0, 2, 1, 0, 0, 2, 0, 2, 0, 2, 2, 2, 2, 1, 2, 0, 2, 2, 0, 0, 2, 0, 0, 0, 1, 2, 1, 0, 2, 0, 1, 0, 0, 0, 1, 2, 0, 0, 1, 2, 2, 0, 1, 2, 1, 2, 0, 0, 1, 1, 1, 2, 1, 2, 0, 0, 2, 2, 2, 1, 1, 2, 0, 1, 0, 2, 2, 0, 1, 1, 2, 1, 1, 2, 0, 1, 1, 0, 0, 1, 2, 0, 1, 2, 1, 0, 0, 0, 2, 1, 2, 0, 1, 0, 0, 2, 0, 0, 1, 2, 2, 0, 1, 0, 2, 1, 0, 0, 2, 1, 2, 1, 2, 0, 2, 0, 1, 2, 0, 2, 2, 0, 1, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 0, 2, 0, 0, 1, 0, 0, 2, 0, 0, 2, 1, 2, 0, 0, 0, 0, 0, 2, 0, 0, 1, 2, 0, 1, 2, 0, 0, 2, 0, 2, 2, 2, 0, 0, 1, 2, 2, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 2, 1, 2, 2, 2, 0, 0, 0, 0, 2, 0, 0, 1, 0, 0, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 2, 1, 0, 1, 1, 1, 2, 1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 2, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 2, 0, 2, 2, 1, 0, 0, 0, 2, 0, 0, 1, 0, 1, 1, 0, 0, 2, 1, 2, 0, 1, 2, 1, 1, 0, 0, 1, 0, 2, 0, 0, 0, 2, 2, 0, 0, 2, 0, 1, 2, 2, 0, 2, 0, 0, 0, 0, 1, 0, 1, 2, 0, 1, 0, 2, 0, 0, 0, 1, 1, 2, 0, 0, 1, 2, 0, 2, 2, 1, 2, 0, 2, 1, 1, 0, 2, 0, 0, 2, 2, 1, 0, 0, 0, 1, 2, 0, 0, 2, 1, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 2, 0, 2, 1, 2, 1, 2, 2, 1, 0, 2, 0, 0, 2, 2, 0, 2, 1, 2, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 1, 2, 0, 0, 0, 1, 2, 2, 2, 0, 0, 0, 0, 2, 2, 1, 0, 2, 0, 2, 1, 1, 0, 1, 0, 2, 2, 2, 0, 0, 1, 0, 2, 0, 2, 2, 0, 0, 1, 0, 1, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 1, 0, 0, 1, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 1, 2, 0, 1, 2, 1, 0, 1, 2, 1, 2, 0, 0, 0, 0, 2, 0, 2, 0, 0, 1, 2, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 2, 0, 0, 0, 0, 2, 0, 2, 1, 0, 0, 1, 1, 2, 1, 2, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 1, 1, 2, 2, 2, 2, 0, 1, 0, 1, 2, 2, 0, 2, 2, 2, 0, 2, 0, 2, 1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 0, 0, 2, 1, 1, 2, 2, 1, 2, 1, 1, 0, 1, 2, 2, 1, 0, 1, 0, 0, 1, 1, 0, 2, 0, 1, 2, 0, 0, 2, 0, 0, 2, 0, 2, 0, 2, 2, 2, 0, 0, 0, 2, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 2, 0, 0, 2, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 2, 0, 2, 0, 0, 1, 2, 2, 2, 2, 1, 0, 2, 2, 0, 1, 1, 1, 0, 2, 2, 2, 2, 0, 0, 2, 0, 0, 0, 1, 0, 2, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 1, 1, 2, 2, 2, 0, 2, 0, 2, 1, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 1, 0, 2, 2, 1, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2, 0, 0, 2, 0, 2, 2, 1, 0, 0, 1, 2, 2, 1, 2, 2, 0, 0, 0, 0, 1, 1, 0, 2, 2, 2, 2, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 2, 0, 0, 2, 2, 2, 1, 0, 0, 0, 0, 0, 1, 1, 0, 2, 2, 0, 0, 1, 2, 2, 0, 1, 1, 2, 2, 2, 2, 0, 0, 2, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 1, 1, 0, 0, 0, 0, 2, 0, 0, 0, 1, 1, 0, 2, 0, 2, 1, 1, 0, 2, 1, 0, 2, 2, 0, 2, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 2, 2, 2, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0, 2, 0, 2, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 1, 2, 2, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 1, 0, 2, 1, 1, 2, 0, 1, 2, 0, 2, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 2, 1, 0, 0, 1, 0, 2, 0, 1, 0, 0, 0, 0, 0, 2, 1, 0, 2, 0, 0, 0, 2, 2, 1, 1, 1, 0, 2, 2, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 1, 0, 1, 1, 2, 1, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 1, 1, 2, 0, 0, 2, 0, 1, 0, 2, 2, 0, 0, 2, 0, 1, 1, 0, 0, 1, 0, 2, 1, 0, 0, 1, 0, 2, 0, 2, 2, 2, 0, 2, 0, 0, 2, 0, 0, 0, 2, 0, 1, 2, 1, 0, 1, 0, 2, 0, 2, 1, 0, 1, 1, 2, 1, 0, 0, 0, 1, 0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 2, 0, 2, 1, 0, 0, 0, 1, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 0, 0, 2, 1, 1, 0, 2, 1, 0, 2, 2, 0, 1, 0, 2, 0, 2, 2, 0, 0, 1, 1, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 1, 2, 2, 0, 0, 2, 0, 1, 2, 2, 0, 2, 2, 0, 1, 0, 1, 2, 2, 0, 1, 1, 0, 0, 2, 1, 1, 0, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 2, 0, 0, 2, 1, 1, 2, 2, 2, 0, 0, 0, 1, 2, 0, 1, 0, 0, 2, 0, 1, 0, 2, 2, 2, 1, 0, 2, 1, 1, 2, 2, 2, 0, 2, 1, 0, 1, 1, 1, 0, 0, 0, 2, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 2, 2, 0, 2, 2, 0, 2, 1, 1, 2, 0, 1, 1, 2, 0, 0, 0, 1, 1, 0, 2, 0, 2, 2, 1, 0, 1, 1, 1, 2, 2, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 2, 1, 2, 2, 0, 0, 0, 2, 1, 0, 0, 0, 1, 2, 0, 0, 1, 2, 2, 1, 2, 0, 0, 2, 0, 0, 0, 0, 1, 1, 0, 0, 0, 2, 0, 0, 0, 2, 0, 1, 0, 2, 2, 1, 0, 0, 0, 2, 0, 2, 2, 0, 2, 2, 1, 0, 2, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 2, 0, 2, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 1, 0, 1, 2, 0, 0, 0, 0, 2, 2, 2, 2, 1, 0, 0, 1, 0, 0, 0, 1, 0, 2, 0, 2, 2, 0, 1, 2, 2, 0, 2, 0, 0, 0, 0, 0, 2, 1, 1, 1, 1, 0, 0, 0, 2, 2, 0, 0, 2, 0, 2, 1, 0, 0, 0, 1, 2, 1, 0, 0, 0, 2, 2, 0, 1, 1, 0, 2, 1, 2, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 2, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0, 0, 1, 1, 0, 2, 0, 1, 0, 1, 0, 0, 0, 1, 2, 2, 2, 0, 1, 1, 0, 2, 1, 2, 0, 2, 0, 0, 2, 0, 2, 0, 0, 0, 1, 1, 0, 1, 2, 1, 2, 2, 1, 2, 1, 2, 0, 1, 0, 0, 2, 0, 1, 1, 0, 0, 2, 0, 2, 1, 2, 2, 0, 0, 0, 0, 2, 0, 1, 0, 0, 2, 2, 2, 1, 0, 2, 0, 0, 2, 0, 2, 0, 2, 1, 0, 1, 2, 1, 1, 0, 1, 0, 0, 1, 0, 0, 2, 0, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 1, 0, 0, 0, 2, 0, 0, 1, 0, 2, 0, 0, 1, 2, 1, 2, 2, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 1, 0, 0, 1, 2, 2, 0, 2, 0, 0, 1, 1, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 2, 2, 0, 0, 2, 0, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 2, 0, 2, 0, 0, 2, 0, 1, 0, 2, 0, 0, 0, 2, 0, 2, 0, 1, 0, 0, 1, 1, 2, 0, 0, 0, 2, 0, 0, 2, 1, 2, 0, 0, 0, 1, 0, 2, 0, 2, 0, 1, 2, 1, 0, 2, 0, 0, 0, 1, 2, 1, 0, 0, 0, 0, 2, 2, 0, 2, 0, 0, 2, 1, 0, 2, 1, 0, 1, 0, 0, 1, 2, 2, 1, 1, 1, 1, 2, 2, 0, 2, 0, 0, 1, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 2, 0, 2, 0, 0, 1, 1, 1, 2, 2, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 2, 2, 0, 1, 0, 1, 2, 0, 0, 1, 1, 2, 2, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 1, 2, 1, 2, 1, 0, 0, 2, 1, 1, 1, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 0, 0, 1, 1, 2, 2, 0, 2, 2, 1, 1, 0, 2, 0, 0, 1, 0, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0, 0, 0, 1, 1, 0, 0, 2, 0, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 1, 2, 0, 0, 2, 2, 0, 0, 2, 1, 0, 2, 0, 1, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0, 2, 1, 0, 1, 2, 2, 2, 0, 0, 2, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 1, 2, 2, 2, 2, 0, 2, 0, 0, 2, 2, 2, 2, 1, 0, 0, 0, 1, 0, 2, 2, 0, 2, 0, 0, 2, 0, 2, 2, 1, 0, 1, 1, 0, 0, 0, 2, 0, 1, 0, 0, 1, 0, 2, 1, 0, 1, 2, 1, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 2, 0, 0, 2, 1, 1, 0, 2, 0, 0, 1, 1, 2, 1, 1, 0, 2, 0, 2, 2, 0, 0, 2, 0, 2, 2, 0, 0, 2, 0, 1, 1, 1, 2, 1, 0, 0, 2, 2, 0, 2, 1, 0, 2, 1, 0, 0, 1, 1, 2, 2, 0, 0, 1, 0, 2, 2, 2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 1, 2, 0, 2, 0, 0, 2, 0, 2, 2, 0, 1, 0, 0, 1, 2, 0, 2, 0, 2, 2, 2, 2, 2, 0, 2, 0, 0, 1, 2, 2, 1, 1, 0, 0, 2, 1, 0, 0, 1, 0, 2, 0, 0, 2, 2, 2, 2, 0, 0, 2, 1, 1, 2, 2, 1, 1, 0, 2, 0, 0, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2, 1, 0, 0, 0, 0, 0, 2, 0, 1, 2, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 1, 2, 1, 1, 2, 2, 0, 0, 1, 1, 0, 1, 0, 2, 2, 2, 0, 2, 2, 0, 0, 0, 0, 0, 2, 0, 2, 1, 1, 0, 0, 1, 2, 0, 0, 2, 0, 0, 2, 0, 0, 2, 2, 2, 2, 0, 2, 1, 0, 0, 2, 2, 2, 1, 2, 0, 0, 0, 2, 0, 0, 0, 0, 2, 2, 1, 2, 2, 2, 1, 0, 2, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 2, 0, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 0, 0, 0, 2, 2, 0, 1, 1, 0, 2, 0, 0, 2, 0, 0, 0, 2, 2, 2, 2, 1, 1, 2, 0, 0, 0, 2, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 2, 2, 2, 1, 0, 0, 0, 0, 0, 2, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 1, 1, 2, 1, 1, 0, 0, 1, 2, 2, 1, 0, 2, 0, 0, 0, 2, 2, 2, 0, 0, 1, 0, 0, 1, 2, 0, 0, 1, 0, 1, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 2, 0, 1, 0, 0, 2, 2, 0, 2, 2, 0, 0, 1, 0, 2, 2, 0, 0, 1, 2, 2, 0, 1, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 1, 0, 0, 2, 1, 0, 1, 0, 2, 1, 0, 0, 1, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 1, 2, 2, 2, 0, 2, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 2, 1, 2, 0, 0, 0, 0, 2, 1, 0, 0, 1, 0, 0, 1, 2, 0, 0, 2, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 2, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 2, 1, 0, 0, 0, 2, 0, 0, 1, 0, 2, 2, 1, 0, 2, 1, 1, 2, 0, 0, 0, 2, 2, 1, 1, 2, 2, 0, 0, 1, 0, 0, 1, 0, 2, 0, 2, 0, 2, 1, 2, 2, 0, 2, 2, 1, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 2, 0, 0, 2, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 1, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 0, 1, 2, 2, 1, 0, 0, 0, 2, 2, 2, 0, 1, 1, 1, 2, 2, 0, 1, 2, 0, 1, 1, 0, 0, 0, 2, 2, 0, 0, 1, 0, 2, 0, 2, 0, 0, 0, 2, 2, 2, 2, 1, 0, 2, 0, 0, 1, 0, 0, 1, 2, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 1, 2, 0, 1, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 2, 0, 0, 2, 0, 2, 0, 0, 1, 0, 0, 1, 2, 2, 1, 2, 2, 0, 0, 2, 0, 0, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 2, 2, 0, 1, 2, 2, 0, 1, 2, 0, 2, 2, 1, 2, 0, 2, 0, 0, 1, 2, 2, 1, 0, 1, 0, 0, 0, 1, 2, 1, 1, 1, 1, 1, 2, 2, 0, 2, 2, 0, 2, 0, 0, 0, 1, 2, 2, 1, 1, 0, 0, 2, 0, 1, 2, 1, 0, 0, 2, 2, 1, 2, 2, 1, 1, 2, 2, 0, 1, 1, 0, 0, 0, 0, 1, 2, 0, 2, 0, 2, 2, 1, 2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 1, 2, 1, 0, 2, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 2, 2, 0, 0, 1, 0, 0, 0, 2, 0, 0, 2, 0, 2, 0, 0, 0, 2, 1, 1, 2, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 2, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 2, 1, 0, 2, 1, 1, 0, 0, 0, 2, 1, 0, 2, 0, 2, 1, 1, 0, 0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 0, 1, 2, 0, 2, 2, 0, 0, 2, 0, 0, 0, 1, 0, 1, 2, 0, 2, 2, 0, 1, 0, 0, 1, 2, 2, 0, 1, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 0, 2, 0, 2, 2, 0, 1, 2, 1, 0, 1, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 1, 1, 2, 0, 2, 0, 1, 2, 0, 0, 1, 2, 0, 0, 0, 2, 2, 1, 0, 0, 2, 2, 0, 2, 0, 0, 0, 1, 0, 0, 2, 0, 0, 2, 2, 2, 0, 1, 2, 0, 2, 0, 0, 0, 2, 1, 0, 1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 2, 0, 1, 2, 0, 2, 2, 1, 0, 1, 0, 2, 0, 0, 0, 2, 2, 1, 0, 1, 0, 0, 1, 0, 0, 2, 0, 2, 1, 0, 1, 1, 0, 2, 1, 1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 2, 0, 0, 2, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 1, 0, 2, 0, 2, 0, 0, 2, 2, 0, 2, 0, 0, 1, 1, 0, 2, 2, 2, 0, 0, 2, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 1, 1, 0, 1, 2, 0, 0, 2, 0, 2, 0, 2, 0, 2, 2, 2, 0, 1, 2, 2, 0, 0, 1, 1, 1, 0, 2, 0, 2, 0, 2, 2, 1, 2, 0, 2, 2, 1, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 0, 2, 0, 0, 1, 2, 0, 0, 0, 0, 1, 2, 2, 0, 0, 0, 1, 2, 2, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 2, 2, 1, 1, 2, 2, 0, 0, 2, 2, 2, 0, 2, 2, 0, 1, 0, 0, 0, 2, 2, 2, 2, 1, 2, 0, 2, 2, 2, 1, 0, 0, 1, 0, 0, 2, 0, 0, 2, 0, 0, 0, 2, 1, 1, 2, 1, 0, 1, 2, 2, 0, 0, 1, 0, 0, 1, 0, 2, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 2, 2, 0, 1, 2, 2, 0, 1, 1, 2, 2, 2, 2, 0, 1, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 2, 1, 0, 0, 2, 0, 0, 2, 0, 0, 0, 1, 2, 1, 0, 0, 2, 2, 1, 2, 1, 0, 2, 1, 1, 0, 2, 0, 2, 2, 0, 0, 2, 1, 2, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 2, 2, 0, 1, 2, 1, 1, 1, 0, 0, 2, 2, 0, 1, 2, 0, 0, 1, 0, 1, 0, 0, 0, 0, 2, 1, 0, 2, 0, 1, 0, 0, 0, 1, 0, 2, 0, 0, 2, 2, 0, 2, 0, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 1, 0, 0, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0, 1, 0, 2, 0, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 2, 0, 2, 1, 1, 2, 2, 2, 2, 0, 1, 0, 2, 2, 2, 0, 2, 0, 1, 0, 0, 2, 2, 0, 0, 0, 2, 1, 0, 0, 0, 2, 0, 0, 0, 1, 0, 1, 2, 2, 2, 0, 2, 2, 1, 2, 0, 0, 2, 2, 2, 0, 1, 2, 1, 0, 0, 0, 0, 2, 0, 2, 0, 2, 1, 1, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 1, 2, 1, 0, 2, 1, 2, 0, 2, 2, 0, 2, 2, 2, 0, 1, 1, 2, 0, 0, 0, 0, 1, 1, 2, 2, 1, 1, 2, 2, 2, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 1, 2, 0, 0, 1, 0, 0, 0, 1, 0, 2, 1, 0, 1, 1, 0, 0, 0, 0, 1, 2, 0, 0, 2, 1, 0, 1, 1, 0, 0, 0, 1, 2, 0, 0, 2, 2, 0, 0, 0, 1, 0, 2, 2, 0, 2, 1, 1, 0, 0, 0, 0, 2, 2, 2, 0, 0, 1, 1, 0, 0, 0, 2, 0, 0, 2, 1, 0, 2, 0, 0, 0, 0, 0, 1, 2, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 2, 1, 2, 1, 2, 2, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 2, 1, 0, 0, 2, 2, 0, 2, 0, 1, 1, 1, 2, 0, 0, 0, 0, 0, 2, 2, 2, 1, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 1, 0, 0, 0, 0, 2, 2, 0, 1, 0, 0, 0, 2, 2, 0, 0, 1, 1, 1, 2, 0, 1, 0, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 2, 1, 0, 0, 0, 0, 2, 2, 0, 2, 1, 0, 2, 0, 1, 0, 1, 2, 2, 2, 0, 1, 0, 0, 2, 1, 2, 0, 0, 0, 2, 1, 1, 2, 0, 1, 2, 1, 0, 0, 1, 2, 0, 2, 0, 0, 1, 2, 1, 2, 0, 0, 0, 0, 0, 1, 0, 2, 1, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 2, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 2, 0, 0, 0, 1, 1, 0, 1, 0, 2, 0, 0, 1, 1, 0, 0, 1, 2, 1, 1, 1, 2, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 2, 0, 0, 1, 0, 0, 2, 0, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 2, 1, 1, 2, 1, 0, 2, 2, 1, 2, 1, 0, 2, 1, 1, 0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 0, 2, 0, 0, 1, 2, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 1, 2, 2, 0, 0, 0, 2, 0, 1, 0, 0, 2, 0, 2, 0, 1, 2, 1, 0, 2, 1, 0, 0, 0, 1, 0, 2, 1, 0, 2, 2, 0, 0, 2, 2, 1, 0, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 2, 0, 1, 1, 2, 0, 0, 1, 1, 1, 0, 0, 2, 0, 1, 0, 0, 0, 2, 2, 0, 2, 0, 1, 0, 1, 2, 1, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 2, 2, 1, 2, 0, 1, 2, 1, 1, 0, 2, 0, 2, 0, 1, 0, 0, 0, 2, 2, 2, 0, 0, 1, 0, 0, 2, 0, 0, 2, 0, 0, 1, 0, 0, 0, 2, 1, 2, 0, 0, 0, 1, 1, 2, 1, 2, 1, 0, 2, 2, 1, 0, 2, 2, 2, 1, 2, 0, 2, 2, 0, 1, 2, 2, 2, 0, 1, 0, 1, 0, 1, 0, 0, 2, 2, 2, 0, 1, 0, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 1, 0, 0, 2, 1, 1, 2, 1, 2, 0, 2, 2, 2, 2, 0, 1, 0, 2, 1, 1, 0, 1, 0, 0, 2, 0, 1, 2, 1, 2, 2, 0, 2, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 2, 0, 1, 2, 0, 0, 2, 0, 2, 2, 1, 2, 2, 0, 0, 0, 1, 0, 2, 0, 2, 2, 0, 2, 0, 0, 2, 0, 2, 0, 0, 0, 2, 2, 1, 1, 2, 2, 1, 0, 0, 2, 0, 0, 1, 2, 2, 2, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 1, 1, 0, 2, 0, 1, 2, 0, 0, 1, 0, 0, 2, 1, 0, 2, 1, 2, 1, 1, 1, 0, 1, 0, 2, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 1, 0, 0, 2, 0, 1, 2, 0, 0, 0, 0, 2, 2, 0, 0, 1, 2, 0, 0, 2, 2, 0, 0, 1, 1, 2, 0, 2, 2, 1, 1, 0, 2, 2, 2, 2, 0, 2, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0, 1, 2, 0, 0, 1, 0, 1, 2, 1, 2, 0, 2, 2, 1, 0, 0, 0, 1, 1, 0, 2, 0, 0, 1, 2, 0, 0, 0, 0, 2, 2, 0, 1, 0, 1, 1, 2, 2, 0, 0, 2, 0, 0, 2, 0, 2, 0, 0, 1, 2, 1, 1, 0, 0, 0, 0, 2, 2, 1, 2, 2, 2, 2, 0, 0, 1, 1, 2, 1, 0, 2, 0, 1, 1, 2, 1, 0, 2, 0, 0, 0, 0, 0, 2, 1, 0, 0, 2, 0, 0, 0, 0, 2, 1, 2, 0, 1, 0, 2, 0, 1, 0, 2, 2, 2, 0, 1, 0, 1, 2, 2, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 2, 2, 0, 2, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 2, 2, 1, 0, 2, 2, 0, 1, 0, 0, 0, 0, 1, 1, 2, 0, 2, 1, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 1, 0, 0, 1, 0, 0, 2, 0, 2, 0, 0, 1, 0, 0, 2, 1, 1, 0, 0, 0, 0, 2, 1, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 1, 0, 0, 1, 2, 1, 2, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 1, 0, 1, 2, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 2, 0, 2, 0, 0, 0, 1, 0, 0, 0, 1, 0, 2, 0, 2, 2, 1, 0, 0, 0, 1, 2, 1, 0, 0, 2, 1, 1, 0, 0, 0, 0, 0, 2, 2, 0, 2, 2, 2, 1, 0, 0, 2, 0, 2, 1, 2, 0, 1, 2, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 2, 0, 2, 0, 1, 2, 2, 0, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 2, 2, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 2, 1, 2, 2, 0, 0, 0, 0, 2

In [79]:
print(experiencia)

[1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1

In [80]:
print(X['AGE'])


X['AGE'] = idade


print(X['AGE'])

0         65+
1       16-25
2       16-25
3       16-25
4       26-39
        ...
9995    26-39
9996    26-39
9997    26-39
9998    26-39
9999    26-39
Name: AGE, Length: 10000, dtype: object
0       0
1       1
2       1
3       1
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: AGE, Length: 10000, dtype: int64

In [81]:
X['AGE']

0       0
1       1
2       1
3       1
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: AGE, Length: 10000, dtype: int64

In [82]:
print(X['AGE'])

0       0
1       1
2       1
3       1
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: AGE, Length: 10000, dtype: int64

In [83]:
X['DRIVING_EXPERIENCE'] = experiencia

In [84]:
#transforma INCOME em numero
inco = []
for x in X['INCOME']:
  if x == 'upper class	':
    inco.append(1)
  elif x == 'poverty':
    inco.append(2)
  else :
    inco.append(0)

In [85]:
X['AGE']

0       0
1       1
2       1
3       1
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: AGE, Length: 10000, dtype: int64

In [86]:
X['INCOME'] = inco

In [87]:
X['INCOME']

0       0
1       2
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    2
9999    0
Name: INCOME, Length: 10000, dtype: int64

In [88]:
#transforma VEHICLE_YEAR em numero
generos = []
for x in X['VEHICLE_YEAR']:
  if x == 'after 2015':
    generos.append(1)
  else:
    generos.append(0)

In [89]:
X['VEHICLE_YEAR'] = [1 if x == '>2015	' else 0 for x in X['VEHICLE_YEAR']]

In [90]:
X.head(10)

,AGE,GENDER,DRIVING_EXPERIENCE,INCOME,VEHICLE_YEAR,SPEEDING_VIOLATIONS,PAST_ACCIDENTS,OUTCOME
0,0,0,1,0,0,0,0,0.0
1,1,1,1,2,0,0,0,1.0
2,1,0,1,0,0,0,0,0.0
3,1,1,1,0,0,0,0,0.0
4,0,1,0,0,0,2,1,1.0
5,2,0,0,0,0,3,3,0.0
6,0,1,0,0,0,7,3,0.0
7,0,0,1,0,0,0,0,1.0
8,2,0,0,0,0,0,0,0.0
9,2,0,1,0,0,0,0,1.0

## Treinamento do modelo

In [91]:
y = dataframe['OUTCOME']

In [92]:
y.head()

0    0.0
1    1.0
2    0.0
3    0.0
4    1.0
Name: OUTCOME, dtype: float64

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0, stratify=y)

In [95]:
X_train.shape, X_test.shape

((9000, 8), (1000, 8))

In [96]:
y_train.shape, y_test.shape

((9000,), (1000,))

In [97]:
y_train.value_counts()

0.0    6180
1.0    2820
Name: OUTCOME, dtype: int64

In [98]:
from sklearn.tree import DecisionTreeClassifier

In [99]:
classificador = DecisionTreeClassifier(class_weight='balanced')

In [100]:
print(X_train)

      AGE  GENDER  DRIVING_EXPERIENCE  INCOME  VEHICLE_YEAR  \
6790    1       1                   1       0             0
103     0       1                   1       2             0
376     1       0                   1       2             0
1627    2       1                   0       0             0
3828    0       1                   1       2             0
...   ...     ...                 ...     ...           ...
6483    0       0                   0       0             0
3573    2       0                   0       0             0
1650    0       1                   0       0             0
8803    0       1                   0       0             0
334     2       0                   1       0             0

      SPEEDING_VIOLATIONS  PAST_ACCIDENTS  OUTCOME
6790                    0               0      1.0
103                     0               0      0.0
376                     0               0      1.0
1627                    1               2      0.0
3828                    0               0      1.0
...                   ...             ...      ...
6483                    4               1      0.0
3573                    0               1      0.0
1650                    0               2      0.0
8803                    0               0      0.0
334                     0               0      1.0

[9000 rows x 8 columns]

In [101]:
y_train.values

array([1., 0., 1., ..., 0., 0., 1.])

In [102]:
lista = list(X_train)
for teste in lista:
  print(type(lista))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [103]:
# REALIZA O TREINAMENTO DO MACHINE LEARNING
classificador.fit(X_train, y_train)

DecisionTreeClassifier(class_weight='balanced')

In [109]:
resultado = classificador.predict(X_test)

In [105]:
resultado

array([1., 0., 1., ..., 0., 0., 1.])

In [106]:
from sklearn import metrics

In [110]:
print(metrics.classification_report(y_test, resultado))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00       687
         1.0       1.00      1.00      1.00       313

    accuracy                           1.00      1000
   macro avg       1.00      1.00      1.00      1000
weighted avg       1.00      1.00      1.00      1000

In [111]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, resultado)

array([[687,   0],
       [  0, 313]])

In [112]:
import numpy as np

In [113]:
X.head(1)

,AGE,GENDER,DRIVING_EXPERIENCE,INCOME,VEHICLE_YEAR,SPEEDING_VIOLATIONS,PAST_ACCIDENTS,OUTCOME
0,0,0,1,0,0,0,0,0.0

In [108]:
# gera arquivo para usar como "api" na web
import cloudpickle

model = cloudpickle.dumps(classificador)

with open('model.pkl', 'wb') as file_out:
  file_out.write(model)